#main{
    max-width: 600px;
    margin: auto;
}
#title{

}
#img-div{
max-width: 600px;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#image{
    max-width: 100%;
    height: 100%;

}
#img-caption{

}

#tribute-info{

}

#tribute-link{

}